@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    transition: all .2s linear;
}

html{
    overflow-x: hidden;
    scroll-padding-top: 5.5rem;
    scroll-padding: smooth;
}

.menuItems{
    transform: translateX(0);
    transition: 0.3s ease-in-out;   
    background-color: #111111fa;
    color: #818181;
}

.hide{
    display: block;
    transform: translateX(-100%);
}